<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>schfes_app_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>271B7B0B1EF4E6900098BB11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>271B7B1F1EF4E6900098BB11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>271B7B2A1EF4E6900098BB11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
